@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizzing: border-box;
  font-family: "Roboto", sans-serif;
}

html{
  height: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #4c4c78;
}

.nav {
  margin: 0 7rem;
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.nav .logo .titulo-meta-data {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav .navigation ul {
  display: flex;
  flex-direction: row;
}

.nav .navigation ul li {
  list-style: none;
  padding: 0 1rem;
}

.nav .navigation ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  transition: 0.3s ease;
}

.nav .navigation ul li a:hover {
  color: #0ea5e7;
}

.nav .navigation ul li a span {
  font-size: 0.9rem;
  border: 1px solid #6927ff;
  padding: 12px 20px;
  border-radius: 5px;
  color: white;
  background: #6927ff;
}

.img-programming {
  width: 600px;
  height: 600px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.home {
  margin: 0 7rem;
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

.home .texto {
  width: 35%;
}

.home .texto .titulo-advance {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: #b091f8;
}

.home .texto .titulo-businnes {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  line-height: 65px;
  padding-bottom: 10px;
}

.home .texto .texto-far-awai {
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  line-height: 30px;
  padding-bottom: 12px;
}

.home .texto .btn-get {
  background-color: #0ea5e7;
  border: 1px solid #6925ff;
  font-size: 1rem;
  font-weight: 400;
  padding: 20px 25px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 15px 30px -12px rgb(0 0 0 / 20%);
}

.home .texto .btn-get:hover {
  background: transparent;
}

.home .back {
  width: 52%;
}

.home .back .img-programming {
  width: 100%;
}

/* Container-Section */
.container-section-1 {
  margin-top: 200px;
}

.titulo-about {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.container-about {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img-container-texto {
  display: flex;
  justify-content: space-evenly;
}

.img {
  width: 400px;
  margin-left: 30px;
}

.titulo-overfiew {
  text-align: center;
  margin-left: 180px;
  color: white;
}

.texto-business {
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-top: 90px;
}

/* Container Information */
.container-information {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}

.titulo-chose-us {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
}

.container-texto-information {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.texto-information {
  margin-top: 150px;
  color: white;
  text-align: center;
}

.container-section-2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.titulo-services {
  text-align: center;
  color: white;
  margin-top: 180px;
}

.texto-services {
  color: white;
  margin-bottom: 60px;
}

/* Cards */
.container-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding-left: 20px;
  margin-top: 30px;
}

.titulo-card {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.cards {
  width: 200px;
  height: 250px;
  background-color: #407bff;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-bottom: 150px;
}

.cards:hover {
  background-color: #6925ff;
}

.img-services {
  width: 200px;
}

/* Footer */
footer{
  margin-top: auto;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.titulo-footer {
  text-align: center;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 10px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-business-time {
  padding-left: 20px;
}

/* Responsividade */

/* Smartphone */
/* Smartphone */
/* @media screen and (max-width: 767px) {
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-1 {
  margin-top: 10px;
}

.container-sobre-mim {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.texto-sobre-mim {
  display: flex;
  justify-content: center;
  text-align: center;
}
} */